<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Getting Back To Angular Js</title>

    <!-- Application Main Style -->
    <link rel="stylesheet" href="css/style.css">

  </head>
  <body ng-app = "backToAngular">

<div ng-controller="appCtrl">
    <div ng-repeat="person in people">
      <div contact-card="person"></div>
    </div>
    <div class="addPeople">
      <input type="text" ng-model="person.name" placeholder="name">
      <input type="text" ng-model="person.country" placeholder="country">
      <button ng-click="add(person)">Add</button>
    </div>
    <p><b>{{course.date}}</b></p>
    <div datepicker datepicker-format = "mm-dd-yy" ng-model="course.date"></div>
  </br>

    <select ng-model="course.date">
      <option value="11-02-2015">11-02-2015</option>
      <option value="01-12-2015">01-12-2015</option>
      <option value="09-05-2015">09-05-2015</option>
    </select>
    <hr>

    <div wysiwyg ng-model="bio"></div>
    <textarea name="name" rows="8" cols="40" ng-model="bio"></textarea>
  </br>
  <section>
    <from>
      <input type="text" name="username" placeholder="username" unique-check ng-model="user.name" required>
      <input type="password" ng-model="user.passord">
    </from>
  </section>
</div>




    <!-- Angular js files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>


    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
    <script src="http://rangy.googlecode.com/svn/trunk/currentrelease/rangy-core.js"></script>
    <script type="text/javascript" src="lib/hallo.js"></script>
    <script type="text/javascript" src="lib/showdown.js"></script>
    <script type="text/javascript" src="lib/to-markdown.js"></script>
    <!-- Jquery Ui Style -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <!-- Font awesome -->
    <link rel="stylesheet" href="font-awesome.css" >
    <!-- Application Main Js -->
      <!-- Main -->
      <script type="text/javascript" src="js/main.min.js"></script>
      <!-- Controllers -->
      <script type="text/javascript" src="js/controllers.min.js"></script>
      <!-- Services -->
      <script type="text/javascript" src="js/services.min.js"></script>
      <!-- Directives -->
      <script type="text/javascript" src="js/directives.min.js"></script>

    <script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
  </body>
</html>
